
@{
    ViewData["Title"] = "ApiDocument";
    Layout = "~/Views/Shared/_IframeLayout.cshtml";
    var apiConfig = (IDictionary<string, object>)ViewData["apiConfig"];
    var apiParams = (IList<IDictionary<string, object>>)ViewData["apiParams"];
}
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend>接口信息</legend>
        </fieldset>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td>接口名</td>
                    <td>@apiConfig["ApiName"]</td>
                </tr>
                <tr>
                    <td>接口地址</td>
                    <td><span style="color:#0A14FB;">@(Context.Request.Scheme + "://")@Context.Request.Host.Value@Context.Request.PathBase@apiConfig["ApiUrl"]</span></td>
                </tr>
                <tr>
                    <td>请求方式</td>
                    <td>@apiConfig["Method"]</td>
                </tr>
                <tr>
                    <td>参数形式</td>
                    <td>@apiConfig["PostFrom"]</td>
                </tr>
                <tr>
                    <td>接口说明</td>
                    <td>@(string.IsNullOrWhiteSpace(apiConfig["Description"].ToString()) ? "无" : apiConfig["Description"])</td>
                </tr>
            </tbody>
        </table>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend>参数信息</legend>
        </fieldset>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="150">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>参数名</th>
                    <th>参数代码</th>
                    <th>说明</th>
                </tr>
            </thead>
            <tbody>
                @if (apiParams.Count > 0)
                {
                    foreach (var param in apiParams)
                    {
                        int paramsKind = (short)param["ParamsKind"];
                        string exDes = (paramsKind == 1 || paramsKind == 2) ? "无需传递" : "";

                <tr>
                    <td>@param["ParamName"]</td>
                    <td>@(string.IsNullOrWhiteSpace(param["ParamCode"].ToString()) ? "无" : param["ParamCode"])</td>
                    <td>@(string.IsNullOrWhiteSpace(param["Description"].ToString()) ? (string.IsNullOrWhiteSpace(exDes) ? "无" : exDes) : param["Description"] + exDes)</td>
                </tr>
                    }
                }
                else
                {
                <tr>
                    <td colspan="3" class="layui-none" align="center">无参数</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>